*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
  color: white;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}

main > section:nth-child(2n-1) {
  background-color: black;
}

main > section > h2 {
  text-align: center;
}

.start-btn {
  padding: 1.5rem;
  background-color: forestgreen;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
}

.start-btn:hover {
  box-shadow: 2px 2px 5px black;
}

.margin-tb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-table {
  display: flex;
  flex-direction: column;
}

.controls-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.text-with-image {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.text-with-image > img {
    width: 70%;
}
